.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: #ff3300;
    color: #fff;
    padding: 25px;
    width: 50%;
}

.box h1 {
    text-transform: uppercase;
}

.box .in {
    width: 100%;
}

.box .in label {
    font-size: 20px;
    font-weight: bold;
}

.box .in .cont {
    position: relative;
    width: 100%;
}
.box .in .cont input {
    width: 100%;
    font-size: 25px;
    padding: 11px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #ff9900;
    padding-right: 40px;
}

.box .in i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 25px;
}


.box .in:last-child {
    margin-top: 20px;
}

.box .down {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box .down button {
    background-color: #ff9900;
    color: #fff;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-size: 25px;
    transition: all 0.3s ease;
    padding: 11px;
}
.box .down a {
    transition: all 0.3s ease;
    outline: none;
    background-color: #ff9900;
    color: #fff;
    text-decoration: none;
    padding: 11px;
    font-size: 25px;
    text-transform: uppercase;
}

.box .down *:hover {
    box-shadow: 0px 0px 12px #000;
}