{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block data %}

<div class="container">
    <div class="row">
{% for i in videos %}
        <div class="col-lg-4">
            <div class="post">
                <div class="up" id="up">
                    <img src="{{i.video_img.url}}" >
                </div>
                <div class="play" id="play">
                    <a href="{% url 'Vvideo' i.id %}" class="fas fa-play"></a>
                </div>
        
                <div class="down">
                    <img src="{{i.user.profile.fg.url}}" alt="">
                    <a href="{% url 'VUser' i.user.username%}">{{i.user.username}}</a>
                    <div class="caption">
                        <p>{{i.title}}</p>
                    </div>
                </div>
            </div>
        </div>
        
        
        {% endfor %}
    </div>
</div>

{% endblock %}